.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  transition: transform 0.3s cubic-bezier(0.16, 1, 0.3, 1), background-color 0.3s ease, opacity 0.3s ease;
}

.cursor.hovered {
  transform: translate(-50%, -50%) scale(8);
  background-color: white;
  mix-blend-mode: difference;
  opacity: 1;
}

@media (max-width: 768px) {
  .cursor {
    display: none;
  }
}